<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>角色维护</title>
    <link rel="stylesheet" type="text/css" href="../js/jquery-easyui-1.8.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../js/jquery-easyui-1.8.5/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../js/jquery-easyui-1.8.5/demo/demo.css">
    <script type="text/javascript" src="../js/jquery-easyui-1.8.5/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-easyui-1.8.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyui-ext/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../js/jquery-easyui-1.8.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" th:inline="none">
        $(function () {
            //Add
            $('#btn-add').bind('click', function () {
                $('#sysRoleDatagrid').edatagrid('addRow');
            });
            //Edit
            $('#btn-edit').bind('click', function () {
                var row = $('#sysRoleDatagrid').edatagrid('getSelected');
                if (row != null) {
                    var index = $('#sysRoleDatagrid').edatagrid('getRowIndex', row);
                    $('#sysRoleDatagrid').edatagrid('editRow', index);
                }
            });
            //Cancel
            $('#btn-cancel').bind('click', function () {
                var row = $('#sysRoleDatagrid').edatagrid('getSelected');
                if (row != null) {
                    var index = $('#sysRoleDatagrid').edatagrid('getRowIndex', row);
                    $('#sysRoleDatagrid').edatagrid('destroyRow', index);
                }
            });
            $('#sysRoleDatagrid').edatagrid({
                idField: 'roleId',
                autoSave: true,
                url: '/SysRoleControl/find',
                saveUrl: '/SysRoleControl/save',
                updateUrl: '/SysRoleControl/update',
                destroyUrl: '/SysRoleControl/delete',
                sortName: 'roleCode',
                sortOrder: 'asc',
                toolbar: '#sysRoleDatagrid_tb',
                onSelect: function (index, row) {
                    $('#sysPermissionTree').tree('options').queryParams = {roleCode: row.roleCode};
                    $('#sysPermissionTree').tree('reload');
                },
                onSave: function (index, row) {
                },
                onError: function (index, row) {
                    if (row.textStatus == 'error') {
                        $.messager.show({
                            title: 'Error',
                            msg: row.jqXHR.responseText,
                            showType: 'show'
                        });
                    }
                },
                columns: [[
                    {
                        field: 'roleId',
                        title: 'roleId',
                        align: 'center',
                        width: 80,
                        hidden: true,
                    },
                    {
                        field: 'roleCode',
                        title: '角色编号',
                        align: 'center',
                        width: 80,
                        sortable: true,
                        editor: {type: 'validatebox', options: {required: true}}
                    },
                    {
                        field: 'roleName',
                        title: '角色名称',
                        align: 'center',
                        width: 100,
                        editor: {type: 'validatebox', options: {required: true}}
                    },
                    {
                        field: 'roleState',
                        title: '是否被锁',
                        align: 'center',
                        width: 80,
                        editor: {type: 'validatebox'}
                    }
                    ,
                    {
                        field: 'description',
                        title: '描述',
                        align: 'center',
                        width: 80,
                        editor: {type: 'validatebox'}
                    }
                    ,
                    {
                        field: 'creator',
                        title: '创建人',
                        align: 'center',
                        width: 80,
                    }
                    ,
                    {
                        field: 'createdTim',
                        title: '创建时间',
                        align: 'center',
                        width: 170,
                    }
                    ,
                    {
                        field: 'changer',
                        title: '修改人',
                        align: 'center',
                        width: 80,
                    }
                    ,
                    {
                        field: 'changedTim',
                        title: '修改时间',
                        align: 'center',
                        width: 170,
                    }
                ]],
                rownumbers: true,
                pageSize: 20,
                pagination: true
            });

            //保存
            $('#btn-save').bind('click', function () {
                var getSelected = $('#sysRoleDatagrid').edatagrid('getSelected');
                if (getSelected == null) {
                    $.messager.alert('Warning', '请先选择角色');
                    return false;
                }
                var getChecked = $('#sysPermissionTree').tree('getChecked', ['checked']);
                $.each(getChecked, function (index, item) {
                    delete item.children;
                });
                getSelected.sysPermissions = getChecked;
                $.ajax({
                    url: '/RolePermissionControl/save',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(getSelected),
                    success: function (data) {
                        $.messager.show({
                            title: 'Ok',
                            msg: '操作成功',
                            showType: 'show'
                        });
                    }
                })
            });

            $('#sysPermissionTree').tree({
                url: '/RolePermissionControl/find',
                checkbox: true,
                // checkbox:function(node){
                //     if (node.permissionType!="menu"){
                //         return true;
                //     }
                // }
            });
        });
    </script>
</head>
<body class="easyui-layout" style="width: 100%;height: 100%">
<div data-options="region:'west',title:'角色',split:true" style="width:60%;">
    <div id="sysRoleDatagrid_tb">
        <shiro:hasPermission name="sysRole:save"><a id="btn-add" href="#" class="easyui-linkbutton" iconCls="icon-add"
                                                    plain="true">Add</a></shiro:hasPermission>
        <shiro:hasPermission name="sysRole:update"><a id="btn-edit" href="#" class="easyui-linkbutton"
                                                      iconCls="icon-edit"
                                                      plain="true">Edit</a></shiro:hasPermission>
        <shiro:hasPermission name="sysRole:delete"><a id="btn-cancel" href="#" class="easyui-linkbutton"
                                                      iconCls="icon-cancel"
                                                      plain="true">Cancel</a></shiro:hasPermission>
    </div>
    <table id="sysRoleDatagrid"></table>
</div>
<div data-options="region:'center',title:'权限(菜单)授权'" style="width:40%;">
    <div id="tb">
        <shiro:hasPermission name="rolePermission:save"><a id="btn-save" href="#" class="easyui-linkbutton"
                                                           iconCls="icon-save" plain="true">Save</a>
        </shiro:hasPermission>
    </div>
    <table id="sysPermissionTree"></table>
</div>
</body>
</html>