<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unauthorized</title>
    <link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.8.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.8.5/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="js/jquery-easyui-1.8.5/demo/demo.css">
    <link href="css/login/login.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery-easyui-1.8.5/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-easyui-1.8.5/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            if (window.parent != window) {
                window.parent.location.reload(true);
            }
        })
    </script>
</head>
<body>
<h1> 对不起，您没有权限 </h1>
</body>
</html>